@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    /* Цвета */
    --primary-green: #68D017;
    --text-white: #FFFFFF;
    --header-nav-text: #7c7c7c;
    --text-gray: #9C9C9C;
    --text-black: #222222;
    --color-overlay: rgba(0, 0, 0, 0.4);
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-hover-bg: #0000000D;
    --welcome-main-text-color: #353640;
    --search-bar-background: #EAEAEA;

    /* Шрифты */
    --font-main: "DM Sans", sans-serif;
    --font-input: 15px;
    --home-family: "DM Serif Text", serif;
    --home-title: 64px;

    /* Размеры */
    --header-h-desktop: 115px;
    --header-h-tablet: 80px;
    --header-h-mobile: 60px;
    --z-sidebar: 1000;
    --z-overlay: 999;
    --home-text-container-width: 1080px;
    --card-max-width: 550px;
    --card-aspect-ratio: 550 / 380;

    /* Другое */
    --cursor-main: pointer;
    --transition-base: 0.3s ease;
    --radius-main: 10px;
    --shadow-input: 0 0 0 5px rgba(34, 197, 94, 0.1);

    /* Отступы */
    --section-spacing-top: clamp(60px, 10vw, 120px);
    --section-spacing-bottom: clamp(80px, 12vw, 130px);
    --cards-gap: clamp(15px, 2vw, 35px);
}

body {
    font-family: var(--font-main);
    color: var(--text-black);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}