.card {
    background: var(--background-shop-card);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px var(--color-shadow);
    border-color: #e0e0e0;
}

.imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 550 / 420;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: clamp(7px, 1vh, 10px);
}

.title {
    margin: 0;
    font-size: clamp(18px, 2vh, 24px);
    font-weight: 500;
    color: var(--text-black);
}

.locationText {
    margin: 0;
    font-size: clamp(14px, 2vh, 20px);
    color: var(--text-gray);
    margin-bottom: 8px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: clamp(7px, 1vh, 10px);
    margin-bottom: 16px;
}

.sizeSection, .priceSection {
    display: flex;
    align-items: center;
    gap: 8px;
}

.label {
    font-size: clamp(14px, 2vh, 20px);
    color: var(--text-gray);
}

.value, .priceValue {
    font-size: clamp(14px, 2vh, 20px);
    font-weight: 400;
    color: var(--text-black);
}

.boxesRow {
    display: flex;
    gap: 4px;
    margin-left: 4px;
}

.square {
    width: 10px;
    height: 10px;
    background-color: #4CAF50;
    border-radius: 2px;
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

.investBtn, .reserveBtn {
    padding: clamp(10px, 2vw, 15px) clamp(30px, 3vw, 40px);
    border-radius: var(--radius-main);
    font-size: clamp(14px, 2vw, 16px);
    cursor: pointer;
    border: none;
    transition: opacity var(--transition-base), transform 0.1s ease;
}

.investBtn {
    background-color: transparent;
    color: var(--text-black);
    border: 2px solid var(--primary-green)
}

.investBtn:hover {
    background-color: var(--primary-green);
    color: var(--text-white);
}

.reserveBtn {
    background-color: transparent;
    color: var(--primary-green);
}

.reserveBtn:hover {
    background-color: #cecece;
    color: var(--text-black);
}

.investBtn:hover, .reserveBtn:hover {
    opacity: 0.8;
}

.investBtn:active, .reserveBtn:active {
    transform: scale(0.98);
}
