.container {
    width: 100%;
    
}

.welcomeBlock {
    max-width: 90%;
    width: var(--home-text-container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--home-family);
    color: var(--welcome-main-text-color);
    gap: clamp(40px, 5vw, 80px);
    margin: var(--section-spacing-top) auto 0 auto;
}

.welcomeBlock h1 {
    font-size: clamp(32px, 5vw, 64px);
    line-height: 1.2;
    margin: 0;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--cards-gap);
    flex-wrap: wrap;
    width: 95%;
    margin: clamp(90px, 10vw, 130px) auto var(--section-spacing-bottom) auto;
}

.cards img {
    width: 100%;
    max-width: var(--card-max-width);
    object-fit: cover;
    aspect-ratio: var(--card-aspect-ratio);
    transition: transform 0.3s ease;
}

.cards img:hover {
    transform: translateY(-10px);
}

.welcomeBtn {
    font-size: clamp(15px, 2vh, 20px);
    padding: clamp(10px, 1.5vh, 15px) clamp(20px, 3vh, 30px);
    border-radius: var(--radius-main);
    background-color: var(--primary-green);
    color: var(--text-white);
    font-family: var(--font-main);
    font-weight: bold;
    cursor: var(--main-cursor);
    transition: opacity 0.3s ease, transform 0.1s ease;
}

.welcomeBtn:hover {
    opacity: 0.8;
}